style
 :stylus
 .container
   .row
     .col-md-6
       ul
         li
           list-style none
   body
    background #ccc
    blockquote
      p
        text-indent 36px
   .container
     .row
       p
         text-indent 28px
       p:hover
         color red
